{% include "header.j2" %}

vertices
(
{% for vertex in vertices %}    {{ vertex.blockMesh_format }}
{% endfor %});

blocks
(
{% for block in blocks %}    {{ block.blockMesh_format }}
{% endfor %});


{% include "footer.j2" %}
